<div class="row text-center">
  <h1> Find and Replace </h1>
</div>

<div class="container">
  <form action="/find_and_replace">


    <!-- User's text -->
    <div class="form-group">
      <label for="user_input">User Input</label>
      <input id="user_input" name="user_input" type="text" class="form-control">
    </div>

    <!-- Word to find -->
    <div class="form-group">
      <label for="find">Find</label>
      <input id="find" name="find" type="text" class="form-control">
    </div>

    <!-- Word to replace -->
    <div class="form-group">
      <label for="replace">Replace With</label>
      <input id="replace" name="replace" type="text" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
